<mat-drawer-container class="example-container" id = "example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        
        

        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>
                <div>
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Temperatura</mat-card-title>
                                <!--mat-card-subtitle>Small</mat-card-subtitle-->
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>

                        @if (showTemperatura) {
                            <slider-formatting-example></slider-formatting-example>
                        }@else{
                            {{description_Temperatura}}
                        }                      
                        </mat-card-content>
                        <div>
                            <p>
                                <button (click)="showTemperatura = !showTemperatura" mat-raised-button>Slider Temperatura</button>
                            </p>
                        </div>
                    </mat-card>                    
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <div>
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>TOP_P</mat-card-title>
                                <!--mat-card-subtitle>Small</mat-card-subtitle-->
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>

                        @if (showTop_P) {
                            <slider-formatting-example></slider-formatting-example>
                        }@else{
                            {{description_Top_P}}
                        }                      
                        </mat-card-content>
                        
                        <div>
                            <p>
                                <button (click)="showTop_P = !showTop_P" mat-raised-button>Slider TOP_P</button>
                            </p>
                        </div>
                    </mat-card>                    
                </div>
            </mat-grid-tile>

            
            <mat-grid-tile>
                <div>
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>TOP_K</mat-card-title>
                                <!--mat-card-subtitle>Small</mat-card-subtitle-->
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>

                        @if (showTop_K) {
                            <slider-formatting-example></slider-formatting-example>
                        }@else{
                            {{description_Top_K}}
                        }                      
                        </mat-card-content>
                        <p>
                            <button (click)="showTop_K = !showTop_K" mat-raised-button>Slider TOP_K</button>
                        </p>
                    </mat-card>                    
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Repeat Penality</mat-card-title>
                                <!--mat-card-subtitle>Small</mat-card-subtitle-->
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>

                        @if (showRepeatPenalty) {
                            <slider-formatting-example></slider-formatting-example>
                        }@else{
                            {{description_RepeatPenality}}
                        }                      
                        </mat-card-content>
                        <p>
                            <button (click)="showRepeatPenalty = !showRepeatPenalty" mat-raised-button>Repeat Penality</button>
                        </p>
                    </mat-card>                    
                </div>
            </mat-grid-tile>



            <mat-grid-tile>                
                <div>
                    <p>Auto-resizing sidenav</p>
                    @if (showSideBar) {
                        <p>Lorem, ipsum dolor sit amet consectetur.</p>
                    }
                    <p>
                        <button (click)="showSideBar = !showSideBar" mat-raised-button>Toggle extra text</button>
                    </p>
                </div>
            </mat-grid-tile>

        </mat-grid-list>
          
        
        <button type="button" mat-button (click)="drawer.toggle()" (click) = "salvaParamteriLLM($event)" style="position: fixed; bottom: 5%; right: 50%;">Salva parametri</button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()" (click) = "resizeNavArea($event)">Model Settings</button>
    </div>
  
    </mat-drawer-container>
  
  
    
    <!--mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
  </mat-card-->