<div style="width:100%; background-color: #E8E8E8" >
    <header >
        <nav>
          <a routerLink="">Home</a>    
          <a routerLink="uploads-folder">Cartella Uploads</a>    
          <a routerLink="downloads-folder">Cartella Downloads</a>   
          <a routerLink="storico-processi">Storico esecuzione</a>    
          <!-- <a routerLink="ai-assistant">Assistente AI</a>     -->
          <a routerLink="/settings" id = "settings"><mat-icon>settings</mat-icon></a>
        
            <!--input type="text" placeholder=". . ." class = "searchField">
            <button class = "srchBttn" type="button">Cerca</button-->
        </nav>
    </header>
</div>



